<%- contentFor('title') %>Página de formulario
<%- contentFor('body') %>
<main>
    <!--Contact Banner comentado con #-->
    <%# include('partials/contactbanner') %>

    <section class="ftco-section contact-section bg-light">
      <div class="container">
      	<%# include('partials/contactdatos') %>
        
        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form action="/" class="bg-white p-5 contact-form" method="post">
              <div class="form-group">
                <input type="text" name="title" id="title" class="form-control" placeholder="Título">
              </div>
              <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div> -->
              <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary py-3 px-5">
              </div>
              <h2>Listado de tareas</h2>
              <ul>
                <% tareas.forEach(tarea => { %>
                <%- include('partials/item', { tarea }) %> 
                <% }) %>
              </ul>
            </form>

            <!--Form original-->
            <!-- <form action="#" class="bg-white p-5 contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form> -->
            <!--END Forma original-->
          
          </div>

          <%# include('partials/contactmap') %>
        </div>
      </div>
    </section> 
</main>