<header>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/admin/productos">Productos</a></li>
      <li><a href="/admin/productos/create">Crear</a></li>
      <li><a href="/home">Home</a></li>
    </ul>
  </nav>
</header>
