<section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-8 d-flex align-items-stretch">
          <div
            class="img"
            style="background-image: url(images/about-1.jpg)"
          ></div>
        </div>
        <div class="col-md-4 py-md-5 ftco-animate">
          <div class="text py-3 py-md-5">
            <h2 class="mb-4">Nueva colección de ropa de mujer de verano 2025</h2>
            <p>
              Muy lejos, tras las montañas de palabras, lejos de los países de Vokalia y Consonantia, habitan los textos ciegos. Separados, viven en Bookmarksgrove, justo en la costa de la Semántica, un vasto océano lingüístico.
            </p>
            <p><a href="#" class="btn btn-white px-4 py-3">Shop</a></p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-5 order-md-last d-flex align-items-stretch">
          <div
            class="img img-2"
            style="background-image: url(images/about-2.jpg)"
          ></div>
        </div>
        <div class="col-md-7 py-3 py-md-5 ftco-animate">
          <div class="text text-2 py-md-5">
            <h2 class="mb-4">Nueva colección de ropa de verano para hombre 2025</h2>
            <p>
              Muy lejos, tras las montañas de palabras, lejos de los países de Vokalia y Consonantia, habitan los textos ciegos. Separados, viven en Bookmarksgrove, justo en la costa de la Semántica, un vasto océano lingüístico.
            </p>
            <p><a href="#" class="btn btn-white px-4 py-3">Shop now</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>