<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/images/about.jpg);">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
      <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">La mejor manera de enviar sus productos</h2>
        </div>
      </div>
      <div class="pb-md-5">
                    <p>Pero nada de lo que decía la copia podía convencerla, así que no pasó mucho tiempo hasta que unos insidiosos redactores la emboscaron, la emborracharon con Longe y Parole y la arrastraron a su agencia, donde abusaron de ella por su culpa.</p>
                    <div class="row ftco-services">
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-002-recommended"></span>
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Política de reembolso</h3>
                    <p>Ni siquiera el todopoderoso Pointing tiene control sobre los textos ciegos: son casi poco ortográficos.</p>
                  </div>
                </div>      
              </div>
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-001-box"></span>
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Embalaje de primera</h3>
                    <p>Ni siquiera el todopoderoso Pointing tiene control sobre los textos ciegos: son casi poco ortográficos.</p>
                  </div>
                </div>    
              </div>
              <div class="col-lg-4 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services">
                  <div class="icon d-flex justify-content-center align-items-center mb-4">
                        <span class="flaticon-003-medal"></span>
                  </div>
                  <div class="media-body">
                    <h3 class="heading">Calidad Superior</h3>
                    <p>Ni siquiera el todopoderoso Pointing tiene control sobre los textos ciegos: son casi poco ortográficos.</p>
                  </div>
                </div>      
              </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>